{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12 mt-3 offset-md-2" id="map"></div>
    {{ events_script|json_script:"events_script_json"}}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 pl-0 pr-0">
                <!-- <p>Welcome to Picnic Friends! Some more text about the app and bla bla bla</p> -->
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! 
                <br>Discover the joy of outdoor gatherings with Picnic Friends, your ultimate summer event planner. Here, you can search and browse through a variety of picnic-themed events happening around you. Whether you're looking for a serene family outing, a lively social gathering, or a romantic sunset picnic, our platform has got you covered. Explore the upcoming events, register your interest, and let's make your summer memories unforgettable with Picnic Friends!</p>
                {% else %}
                <p>Welcome to Picnic Friends! Discover the joy of outdoor gatherings with our comprehensive summer event planner. From serene family outings to lively social gatherings and romantic sunset picnics, our platform opens the door to a variety of picnic-themed events. Dive in to explore and let's make your summer unforgettable with Picnic Friends!</p>
                {% endif %}
                
                <a href="{% url 'all_events' %}"><button class="btn"><strong>
                    All Events
                </strong></button></a>
                
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
  <script src="{% static 'js/map-home.js' %}"></script>
{% endblock %}

