{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12 mt-3 offset-md-2" id="map"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 pl-0 pr-0">
                <p>Welcome to Picnic Friends! Some more text about the app and bla bla bla</p>
                <h2>Upcoming events</h2>
                <div class="event-card-group">
                    <div class="event-card">
                      <img src="./static/images/calvin-shelwell.jpg" class="" alt="picnic picture">
                      <div class="card-body">
                        <h5 class="card-title">Event title</h5>
                        <p class="card-text">Date, time</p>
                        <p class="card-text">Description</p>
                      </div>
                    </div>
                  </div>
                
                <a href="{% url 'add_event' %}"><button class="btn"><strong>
                    Create a new event
                </strong></button></a>
            </div>
        </div>
    </div>
    
{% endblock %}