{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12 mt-3 offset-md-2" id="map"></div>
    <div class="event-icon" id="event-icon-nr1" data-image="url({{ './static/images/calvin-shelwell.jpg' }})"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <a href="{% url 'add_event' %}"><button class="btn"><strong>
                    Create a new event
                </strong></button></a>
            </div>
        </div>
    </div>
{% endblock %}