:root {
  --main-font-color: #1f1f55;
}

html{
    height: 100%;
}

body, #map { 
    font-family: 'Quicksand', sans-serif;
    color: var(--main-font-color);
    height: 85%; 
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
    width: 100%;
    height: auto;

}

a.nav-link {
    color: var(--black);
}

img.logo {
    width: 45px;
}

button.navbar-toggler {
  border: none;
  width: 4rem;
}

button.navbar-toggler:focus {
  box-shadow: none;
}

#burger-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* Home Page */

.app-title {
  font-family: 'Oswald';
  font-size: 1.6rem;
  margin-right: .5rem;
}

h2 {
  font-family: 'Oswald';
  font-size: 1.4rem;
}

.event-card-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.event-card {
  margin: 1rem;
  display: flex;
  background-color: #57a63327;
}

.event-card > img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.event-card > .card-body {
  padding: 1rem;
}


/* Add Event Page */

.bg{
  background: #818f55;

}
.card{
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 40vh;
}
.card-form{
    border-radius: 10px;
    width: 100%;
    display: table;
}
.bg-card{
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('/static/images/pexels-elevate-1267239.webp');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-events {
  background-color: #ffc1075d;
  color: green;
}

/*  Pagination */


.pagination-box {
  margin-bottom: 25px;
}

.pagination {
  padding-left: 0;
  border-radius: 4px;
  display: inline-block;
}

.pagination li {
  display: inline-block;
}

.pagination > li > a {
  color: #1a1715;
  font-size: 18px;
  background: #fff;
  font-weight: 400;
}

.pagination > li > a i{
  font-size: 15px;
  font-weight: 600;
}
.pagination > li > a, .pagination > li > span {
  margin: 0 2px 5px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 0;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.page-item a:hover {
  background-color: #33240e!important;
 
}
.pagination > li > a:hover {
  color: #eecfb5!important;
}

.pagination > li > .active {
  color: #e96711!important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)!important;
}

.page-link:focus {
  box-shadow: 1px 1px 1px 1px rgb(53, 29, 2)!important;
}

.active>.page-link, .page-link.active{
  background-color: #FDE59A;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 20px;
    margin-top: 1rem;
    margin: 1rem;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

.form input[type="text"],
  .form input[type="password"] {
    border-radius: 5px;
    border: 1px solid green;
    padding: 5px;
  }

  .btn {
    background-color: #FDE59A;
    color: green;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-style: italic;
  }

  .btn:hover {
    background-color: lightgreen;
    color: green;

  }

  .link {
    color: green;
    text-decoration: none;
  }

  .link:hover {
    color: lightgreen;
    text-decoration: none;
  }
  
  .sign-in {
    color: green;
  }

  .form-label {
    display: none;
  }

  /* Profiles */

.profile-img {
  width: 280px;
  margin: 0 auto;
}

.profile-img img {
  border-radius: 8px;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  width: 100%;
  text-align: center;
}

.profile-recipes {
  width: 100%;
}
