{% load static %}

<footer>
    <!-- Social media icons-->
    <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
        <img src="static/icons/linkedin.png" alt="LinkedIn Icon" class="social-icon">
    </a>
    <a href="https://www.instragram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
        <img src="static/icons/instagram-social-media-icon-design-template-vector-png_126996.png" alt="Instagram Icon" class="social-icon" />
    </a>
    <a href="https://github.com/moabdelbasset/PicnicFriends" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="static/icons/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b0bac53.1999041115351082030478.jpg" alt="Github Icon" class="social-icon" />
    </a>
    <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
        <img src="static/icons/1000_F_320883488_PMmkQget359WtY6foB1xFN3Wcvus6WTM.jpg" alt="Twitter Icon" class="social-icon" />
    </a>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
        <img src="static/icons/yo482y5ff-youtube-icon-logo-youtube-logo-free-icon-of-vector-logo.png" alt="YouTube Icon" class="social-icon" />
    </a>
</footer>