{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <h3 class="sign-in">{% trans "Sign In" %}</h3>

      <p>{% blocktrans %}
        <a class="link" href="{{ signup_url }}">Sign up</a> to create an event! {% endblocktrans %}</p>
        <form class="form p-2" method="POST" action="/accounts/login/">
          {% csrf_token %}
          <p><input type="text" name="login" placeholder="Username" autocomplete="email" required="" id="id_login"></p>
          <p><input type="password" name="password" placeholder="Password" autocomplete="current-password" required=""
              id="id_password"></p>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn w-25 mb-2" type="submit">Sign in</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}