{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <h3 class="sign-in">{% trans "Sign Up" %}</h3>

  <p>{% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="form p-2" id="signup_form" method="post" action="/accounts/signup/">
    {% csrf_token %}  
    <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
        Username<span class="asteriskField">*</span> </label> <input type="text" name="username" placeholder="Choose a username*"
        autocomplete="username" minlength="4" maxlength="150" class="textinput form-control" required="" id="id_username">
    </div>
    <div id="div_id_password1" class="mb-3"> <label for="id_password1" class="form-label requiredField">
        Password<span class="asteriskField">*</span> </label> <input type="password" name="password1"
        placeholder="Choose a password*" autocomplete="new-password" class="passwordinput form-control" required=""
        id="id_password1"> </div>
    <div id="div_id_password2" class="mb-3"> <label for="id_password2" class="form-label requiredField">
        Password (again)<span class="asteriskField">*</span> </label> <input type="password" name="password2"
        placeholder="Password (again)*" autocomplete="new-password" class="passwordinput form-control" required=""
        id="id_password2"> </div>
  
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    <button type="submit" class="btn btn-primary w-25">Sign Up</button>
  </form>
</div>
{% endblock %}

